
<div class="myBody">
    

    <div class="bcNav">
        <div class="logo"><img src="https://www.jerusalem.muni.il/images/logo-new2m.svg?v=1" height="132" width="152"/></div>
        
        <h1 class="title">עיריית ירושלים</h1>
        <div class="line"></div>
        <nav class="myNav" >
            <li  routerLink="/index">Home Page</li>
            <li  routerLink="/residents">Residents</li>
            <li  routerLink="/events">Events</li>
            <li  routerLink="/businesses">Bussinesses</li>
            <li  routerLink="/employees">Employees</li>
        </nav>
    </div>
    
    <router-outlet></router-outlet>
    <div class="footer">
        <div class="logofooter">
            <img src="https://www.jerusalem.muni.il/images/logo-new2m.svg?v=1" height="88" width="128"/>
            <span class="footerText">Here you can put everything that you wont</span> 
            <p class="lower">© Copiright Michael Volfson</p>
        </div>
    </div>
</div>




