.myBody{
    text-align: center;
    background-color:#dfe7ee;
    margin-top:20px ;
}
.alLeft{
   margin-left: 20px;
}
.hello{
    padding-top: 20px;
}
.hello2{
  font-size: 20px;
 text-decoration: underline;
}