<div class="myBody"> 
    <div >
        <h1 class="koteret">ברוכים הבאים לעיריית ירושלים</h1>
    </div>
        <div class="picture">
            <div class="pic1">
               
            <div class="blockText">
                <p class="bigP">ירושלים</p>
        
                <p class="forText">יְרוּשָׁלַיִם (בערבית: الْقُدْس - נהגה אל-קֻדְס (מידע • עזרה) - או לחלופין أُورُشَلِيم, אוּרֻשַׁלִים) היא עיר הבירה של מדינת ישראל, והעיר הגדולה ביותר בישראל בגודל האוכלוסייה. נכון לשנת 2021, מתגוררים בה כ-957 אלף תושבים. בירושלים שוכנים מוסדות הממשל של ישראל: הכנסת, בית המשפט העליון, משכן הנשיא, בית ראש הממשלה ורוב משרדי הממשלה. ירושלים שוכנת בהרי יהודה, על קו פרשת המים הארצי של ארץ ישראל, בין הים התיכון וים המלח, ברום של 570 עד 857 מטרים מעל פני הים.

                    העיר מקודשת ביהדות, בנצרות ובאסלאם. היא הייתה מרכז חיי העם היהודי בימי קדם, ומושא כמיהתו וכיסופיו בעת גלותו. משום חשיבותה הדתית עבור שלוש הדתות, היוותה העיר לאורך ההיסטוריה מוקד של מלחמות וסכסוכים, הנמשכים עד עצם היום הזה. מאז סוף המאה ה-19, התפתחו סביב העיר העתיקה שכונות העיר החדשה, אשר משכנות בקרבן, נכון למאה ה-21, את רובם המוחלט של תושביה.
                    
                    בשנת 1981 הוכרזה העיר העתיקה של ירושלים אתר מורשת עולמית על ידי ארגון אונסק"ו[7], ובשנת 1982 נכנסה לרשימת האתרים הנמצאים בסיכון[8] בשל חשש מאובדן משמעותי של אותנטיות היסטורית ומשמעות תרבותית, העדר מדיניות שימור והשפעות של תכנון העיר. ובייחוד בשל בקשתו של ציר ירדן שהפנה את תשומת לב הוועדה לסכנות החמורות והספציפיות המאיימות על העיר העתיקה בירושלים, הוא הצביע על הרס נכסי דת, איומי הרס עקב תוכניות פיתוח עירוניות. הידרדרות האתרים עקב חוסר תחזוקה וניהול אחראי, וכן מההשפעה ההרסנית של התיירות על שימור האתרים. לפיכך, הוא הפציר בוועדה להגן על העיר העתיקה בירושלים ועל חומותיה על ידי רישום הנכס ברשימת אתרי המורשת העולמית בסיכון.
                </p>  
                <p class="bigP">אטימולוגיה</p>
                <p class="forText">התעודות הראשונות שבהן נזכר שמהּ של ירושלים, באופן הדומה לשמה העברי, הן כתבי המארות המצריים העתיקים. שמהּ של העיר מופיע בכתבים אלו כ"אשאמם", אותו יש לקרוא, ככל הנראה, כ"רֻשַׁלִמׁם". מאוחר יותר, הופיע שמהּ של העיר כ"אוּרוּסַלִימָה" במכתבי אל-עמארנה, אשר מועד כתיבתם המשוער מתוארך למאה ה-14 לפני הספירה. האזכור הארכאולוגי הראשון של ירושלים בשם זה נמצא בחפירות ליד בנייני האומה על גבי עמוד אבן גלילי משלהי בית שני (המאה ה-1 לספירה), שם הוא אף מופיע בכתב עברי דומה לשל ימינו[10].

                    חוקרים סבורים כי ירושלים נקראה מלכתחילה על שמו של אל השקיעה הכנעני, "שלם", וכי במקום היה מקדש לפולחנו. על פי פירוש מקובל, "מלכיצדק מלך שלם", הנזכר בספר בראשית, היה למעשה מלך ירושלים. כך גם פירשו חז"ל[11], בהתבססם על הפסוק: ”וַיְהִי בְשָׁלֵם סֻכּוֹ וּמְעוֹנָתוֹ בְצִיּוֹן“ (תהילים, ע"ו, ג'). המילה "ירו" לקוחה מן השורש השֶמִי י.ר.ה, שפירושו בעברית בת ימינו: "ייסד" (במקרא: ”או מי ירה אבן פִּנָּתָהּ“ (איוב, ל"ח, ו')); לפיכך, על פי השערת חוקרי מקרא, משמעות השם המקורית היא ייסד האל שלם, כלומר: זוהי העיר שייסד האל שלם. סברה אחרת באשר למשמעות השם גורסת כי יש לפרשו לפי הקרי המודרני בעברית ובערבית: "אור-שלם" – עירו של שלם.
                    
                    על פי המדרש[12], מהווה השם "ירושלים" צירוף של השם שבו בחר אברהם לכנותהּ ”הר ה' יראה“, המצורף לשם: "שלם", שבו קרא לה שם בן נח. במקרא מופיע שם העיר תמיד בכתיב חסר, "ירושלם", למעט בארבעה מופעים. עובדה זו רומזת, לכאורה, על שמהּ הקדום הארמי של העיר, אשר נהגה אף הוא: "ירושלֵם". כיום, מכונה העיר "ירושלים", וזהו שמהּ של העיר גם בפי חז"ל.
                    
                    לירושלים שמות רבים. על פי המדרש והמסורת היהודית לעיר שבעים שמות שונים, המבטאים את חשיבותה ומעלותיה. בין הידועים שבהם:
                    יְרוּשָׁלַיִם, שָׁלוֹם, יִרְאֶה, יְבוּס, צִיּוֹן, חֶפְצִיבָהּ, מְשׂוֹשׂ תֵּבֵל, יְרוּשָׁלִַם, יְפֵה נוֹף,קרית מלך רב וְעִיר דָּוִד.
                    
                    בדומה לארץ ישראל, המכונה בשם "הארץ", ובית המקדש, המכונה "הבית", גם ירושלים נזכרת במקורות, בשם "העיר" סתם עם ה"א הידיעה. כך למשל: ”חמשה דברים אירעו את אבותינו בשבעה עשר בתמוז בשבעה עשר בתמוז נשברו הלוחות, ובטל התמיד, והובקעה העיר...“ (גמרא, מסכת תענית, כ"ו).
                    
                    על פי המסורת ירושלים היא עיר מוקפת חומה מימות יהושע בן נון.</p> 


                    
                    <p class="bigP">היסטוריה </p>
                    <p class="forText">
                        מהתקופה הכלקוליתית ועד תקופת הברונזה
                            Postscript-viewer-blue.svg ערך מורחב – ירושלים וסביבותיה מהתקופה הנאוליתית ועד תקופת הברונזה
                            על-פי ממצאים ארכאולוגיים, תחילת תקופת ההתיישבות בירושלים מתוארכת לתקופה הכלקוליתית, סביבות האלף ה-5 לפנה"ס. בחפירות שנערכו בשנת 2009 בשכונות קצה של העיר, התגלו ממצאים ארכאולוגיים קדומים אף יותר, המתוארכים לתקופה הנאוליתית[דרוש מקור]. ממצאים אלו מעידים על התיישבות בעת העתיקה, באזור השוכן על הגבעה המכונה "עיר דוד". ההתיישבות במקום זה נבעה מהקרבה למעיין הגיחון, אשר שימש מקור מים לתושבי המקום, ונקודת ציון אסטרטגית החולשת על השטח הסובב אותה. עם הפיכתהּ של העיר ליישוב קבע, ניצלו תושביה את תנאי השטח הטופוגרפיים ההרריים, הקשים לטיפוס, להגנה טבעית מפני כובשים.
                    </p>
                    <p class="forText">בשנת 1909 התגלו באזור מעיין הגיחון, במחקר ארכאולוגי בראשות מונטגיו פארקר, שברי חרס אשר תוארכו לתקופת הברונזה הקדומה. ממצאים אלו היוו עדות למגורים בסמוך. הפיכתהּ של ירושלים מיישוב ארעי לעיר קבע התרחשה, ככל הנראה, במהלך המאה ה-19 לפנה"ס.

                        בתקופת הברונזה המאוחרת, במאה ה-14 לפנה"ס, ביססה ירושלים את מעמדהּ כעיר-מדינה כנענית מבוצרת וחשובה. על כך מעידים מכתבי אל-עמארנה, שבהם מוזכרת ירושלים פעמיים.
                    </p>
                    <p class="forText"> אם תירצה יותר מידע : <a href="https://he.wikipedia.org/wiki/%D7%99%D7%A8%D7%95%D7%A9%D7%9C%D7%99%D7%9D">ויקיפדיה</a></p>
            </div>          
        </div>
    </div>
    
</div>